#paramBtnDiv {
    width: 100px;
    float: left;
}

.parametersDiv {
    width: 100px;
    border: 1px solid;
    padding: 5px;

}

.initCondDiv {
    width: 100px;
    border: 1px solid;
    padding: 5px;
    float: left;
    margin-left: 15px;
}

.simOptDiv {
    width: 110px;
    border: 1px solid;
    padding: 5px;
    float: left;
    margin-left: 3px;
}

.methodDiv {
    width: 120px;
    border: 1px solid;
    padding: 5px;
    float: left;
    margin-left: 3px;
}



.parametersDiv input {
    width: 90%;
}

.initCondDiv input {
    width: 80%;
}

.simOptDiv input {
    width: 70%
}

#resolveBtn {
    margin: 10px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

#realChartDiv {
    float: left;
    height: 350px;
    width: 700px;
    margin-left: 50px;
}

.compareDiv {
    clear: both;
}

h4 {
    margin: 3px;
}
.compareDiv p {
    float: left;
    margin: 8px;
}

.chartTable div {
    height: 350px;
    margin: 10px;
}
